:root {
    --default: #f3c309;
    --defaultBg:#494949;
    --accent: #ffffff;
    --accentBg: #2a2a2a;
  }

body {
    min-width: 320px;
    padding: 15px;
    font: 400 15px/1 'Fira Sans Condensed', Arial, sans-serif;
    color:  var(--default);
    background: url(../img/background.webp), var(--defaultBg);
}

button {
    border: 0;
    background: none;
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.activeScreen {
    display: block!important;
}




// * { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
// * * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
// * * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
// * * * * { outline: 1px solid rgba(255,0,255,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
// * * * * * { outline: 1px solid rgba(0,255,255,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
// * * * * * * { outline: 1px solid rgba(255,255,0,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }
// * * * * * * * { outline: 1px solid rgba(255,0,0,.2); :hover { outline: 1px solid rgba(255,0,0,0.6); } }
// * * * * * * * * { outline: 1px solid rgba(0,255,0,.2); :hover { outline: 1px solid rgba(0,255,0,0.6); } }
// * * * * * * * * * { outline: 1px solid rgba(0,0,255,.2); :hover { outline: 1px solid rgba(0,0,255,0.6); } }